@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}
h1{
  font-weight: 700;
}

.main-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.collection{
  border: 0px;
}
#search-input{
  text-transform: uppercase;
}